@import '../../styles/variables';

header {
	background-color: $blue;
	height: 120px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	color: $white;
	a {
		color: $white;
		cursor: pointer;
	}
	#header-menu {
		ul {
			list-style-type: none;
			color: $white;
			display: flex;
			gap: 32px;
		}
	}
	img {
		max-width: 280px;
	}
}

.header-for-pc {
	padding: 0 $padding-side-for-pc;
}

.header-for-mobile {
	height: 50px;
	padding: 0 $padding-side-for-mobile;
	.hamberger-menu-icon {
		color: $white;
		font-size: large;
	}
	a {
		margin-right: 50%;
		transform: translate(50%, 0);
	}
	img {
		height: 40px;
	}
}
