@import "../../styles/variables";



.section {
  background-color: $white;
  height: 720px;
  padding: 16px $padding-side;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .section-title-container {
    .section-title {
      color: $blue;
      text-align: center;
    }
  }
  .section-content-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

